body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url('download.jpg')  no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

#span12{
    font-weight: bolder;
}
